.movimientos__input{
    border: transparent;
    border-radius: 5px;
    margin-right: 1rem;
    border: 1px solid #afcfee;
    &:focus {
        border: 2px solid darken($color: #afcfee, $amount: 10%)
    }
}

@media only screen and (max-width: 945px) {
    .movimientos__input{
        width: 5rem;
        margin-bottom: 1rem;
    }
}


.movimientos__boton{
    margin-right: 5px;
}

.movimientos__selected{
    margin: 0px !important;
}

.movimientos__busqueda{
    background: transparent;
    border: none;
    width: 3%;
}

.movimientos__input-busqueda{
    border: 1px solid transparent;
    border-bottom: 1px solid  #afcfee !important;
    width: 17%;
}



.movimientos__busqueda-container{
    margin: 3rem 0;
}

.movimientos__error{
    color: red;
}

.movimientos__select{
    width:100%;
}

@media only screen and (max-width: 945px) {
    .movimientos__busqueda{
        background: transparent;
        border: none;
        width: 5%;
    }
    
    .movimientos__input-busqueda{
        border: 1px solid transparent;
        border-bottom: 1px solid  #afcfee !important;
        width: 95%;
    }
}

