.movimientos__input{
    border: transparent;
    border-radius: 5px;
    margin-right: 1rem;
    border: 1px solid #afcfee;
    &:focus {
        border: 2px solid darken($color: #afcfee, $amount: 10%)
    }
}

.movimientos__boton{
    margin-right: 5px;
}

.movimientos__selected{
    margin: 0px !important;
}

.movimientos__busqueda{
    background: transparent;
    border: none;
}

.movimientos__input-busqueda{
    border: 1px solid transparent;
    border-bottom: 1px solid  #afcfee !important;
    width: 12rem;
    margin-left: 5px;
}

.movimientos__busqueda-container{
    margin-bottom: 2rem;
}

.movimientos__error{
    color: red;
}