
.navbar__list{
    display:flex;
}

.navbar__item{
    list-style: none;
    padding: 1rem;
    text-decoration: none;
}

.navbar__link{
    text-decoration: none;
    color:#fff;
    font-family: Helvetica;
}